@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Fredoka One', cursive;
  background: #1C1A1F;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 10vw;
}


  .text-animation {
    text-align: center;
    background: linear-gradient(to right, #ffffff 20%, #1c45f5 30%, #0dd9e0 40%, #7b10df 50%, #eb0a0a 70%, #21bee6 86%, #b80909 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 7s linear infinite;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  


@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

